/* Resetting some default styles */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f5f5f5; /* Light gray background */
}

header {
    background-color: #2c3e50; /* Dark blue-gray */
    color: #ecf0f1; /* Light gray text */
    padding: 1em;
    text-align: center;
}

nav {
    text-align: center; /* Center the navigation */
    margin-top: 20px; /* Add margin-top to move it down */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white; /* Dark blue-gray text */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
    padding: 10px 20px; /* Added padding to the navigation links */
    border-radius: 5px;
}

nav a:hover {
    color: #3498db; /* Blue */
    background-color: #ecf0f1; /* Light gray background on hover */
    border-color: #3498db; /* Blue border on hover */
}

/* Home Section */
#home {
    text-align: center;
    padding: 50px;
    background-color: #ecf0f1; /* Light gray background */
}

#home h2 {
    color: #2c3e50; /* Dark blue-gray */
}

#home p {
    color: #555;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #e74c3c; /* Red */
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #c0392b; /* Darker red */
}

/* Menu Section */
#menu {
    text-align: center;
    padding: 50px;
    background-color: #ecf0f1; /* Light gray background */
}

#menu h2 {
    color: #2c3e50; /* Dark blue-gray */
}

.menu-item {
    margin-bottom: 30px;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.menu-item h3 {
    color: #2c3e50; /* Dark blue-gray */
    margin-top: 15px;
}

.menu-item p {
    color: #555;
    margin-bottom: 10px;
}

.menu-item span {
    display: block;
    color: #e74c3c; /* Red */
    font-weight: bold;
    font-size: 18px;
}


/* Footer */
footer {
    background-color: #2c3e50; /* Dark blue-gray */
    color: #ecf0f1; /* Light gray text */
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.centered-section {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.centered-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3D5A80;
}

.centered-section form label {
    display: block;
    margin-bottom: 8px;
    color: #3D5A80;
}

.centered-section input[type="email"],
.centered-section input[type="password"],
.centered-section input[type="text"],
.centered-section input[type="tel"]  {
    width: 100%;
    
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.centered-section input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #EE6C4D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.centered-section input[type="submit"]:hover {
    background-color: #F28482;
}



table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}